<!DOCTYPE html>
<html>
  <head>
    <title>Fernandes Wiraharjo | Web Developer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="https://fernandesdev.com">
    <meta property="og:site_name" content="Fernandes Wiraharjo">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fernandes Wiraharjo | Web Developer">
    <meta property="og:description" content="Transforming concepts into tangible products is my passion.">
    <!-- <meta property="og:image:secure_url" content="https://fernandesdev.com/img/hero-devices.svg"> -->
    <meta property="og:url" content="https://fernandesdev.com">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/icon_circle/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/icon_circle/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/icon_circle/favicon-16x16.png"> -->
    <!-- <link href="/img/icons/icon_circle/favicon.ico" rel="shortcut icon" type="image/png"> -->
    <link rel="manifest" href="/img/icons/icon_circle/site.webmanifest">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Your EJS file -->
  </head>
  <body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <!-- <a class="navbar-item" href="/">
            <img src="/img/icons/icon_circle/android-chrome-192x192.png" alt="web icon">
          </a> -->
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="#navMenu">
            <span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu is-shadowless" id="navMenu">
          <div class="navbar-start"></div>
            <div class="navbar-item"><a class="button is-info is-outlined is-rounded has-text-weight-normal" href="/contact">Contact</a></div>
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-white has-text-centered">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">Web Developer</h1>
              <h2 class="subtitle is-size-4-tablet">Transforming concepts into tangible products is my passion.</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <!-- <div class="container"><img class="is-bottom" src="/img/hero-devices.svg"></div> -->
      </div>
    </section>
    <section class="section is-medium is-primary has-text-centered is-long">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Hi, I’m Fernandes. Nice to meet you.</h1>
            <h2 class="subtitle is-size-5-desktop has-text-weight-normal">For over 7 years, I’ve been on an exciting journey as a web developer. I’ve had the opportunity to work with various companies, provide consulting, and team up with talented professionals to create impactful digital products for both businesses and consumers. I’m a confident, curious individual who is always striving to improve and tackle new development challenges.</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="section skills has-text-centered">
      <div class="container is-narrow">
        <div class="box">
          <div class="content">
            <div class="columns is-centered">
              <div class="column">
                <span class="fa fa-stack fa-2x"><i class="fa fa-solid fa-circle fa-stack-2x has-text-info"></i><i class="fa fa-light fa-code fa-stack-1x has-text-dark"></i></span>
                <h1 class="title is-size-4 is-spaced">Web Developer</h1>
                <p>I like to code things and enjoy bringing ideas to life in the browser.</p>
                <p class="list-title has-text-info has-text-weight-normal">Languages:</p>
                <p>HTML, CSS, JS, Git, PHP + Laravel, Java, ReactJS, Typescript, NextJS, NodeJS, ASP.NET, GO</p>
                <p class="list-title has-text-info has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Github</li>
                  <li>Bootstrap</li>
                  <li>Bulma</li>
                  <li>Terminal</li>
                  <li>VS Code</li>
                  <li>Intellij</li>
                  <li>Visual Studio</li>
                  <li>DBeaver</li>
                  <li>SSMS</li>
                  <li>Navicat</li>
                  <li>Docker</li>
                </ul>
              </div>
              <div class="column">
                <span class="fa fa-stack fa-2x"><i class="fa fa-solid fa-circle fa-stack-2x has-text-info"></i><i class="fa fa-light fa-book fa-stack-1x has-text-dark"></i></span>
                <h1 class="title is-size-4 is-spaced">Learning History</h1>
                <p>I love to learn in order to upgrade my knowledge about web development.</p>
                <p class="list-title has-text-info has-text-weight-normal">Institutions I go:</p>
                <p>University of Tanjungpura, Purwadika, Udemy</p>
                <p class="list-title has-text-info has-text-weight-normal">Achievements:</p>
                <ul>
                  <li>Bachelor degree on Computer Engineering/Information Technology</li>
                  <li>Completion on Purwadika React Native Learning</li>
                  <li>Completion on Udemy Web Developer Bootcamp 2023</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section projects is-medium is-white has-text-centered">
      <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">My Recent Work</h1>
        <h2 class="subtitle is-size-5-desktop">Here are a few past freelance or personal projects I've worked on.</h2>
        <div class="project-grid">  
          <div class="columns is-multiline is-mobile">
            <!-- <a href="https://yelpcamp-gbgm.onrender.com/" target="_blank">
              <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                <figure class="image"><img class="project-thumb" src="/img/projects/yelpcamp.jpg">
                  <figcaption>
                    <h1 class="title is-size-5 is-size-4-widescreen">My demo or sample web page.</h1><a class="button is-info is-outlined is-rounded" href="https://yelpcamp-gbgm.onrender.com/" target="_blank"><span>Visit Website</span><span class="icon"><i class="fa fa-angle-right"></i></span></a>
                  </figcaption>
                  <div class="overlay"></div>
                </figure>
              </div>
            </a>
            <a href="https://nextjs-dashboard-three-psi-45.vercel.app/" target="_blank">
              <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                <figure class="image"><img class="project-thumb" src="/img/projects/yelpcamp.jpg">
                  <figcaption>
                    <h1 class="title is-size-5 is-size-4-widescreen">Next JS sample dashboard.</h1><a class="button is-info is-outlined is-rounded" href="https://nextjs-dashboard-three-psi-45.vercel.app/" target="_blank"><span>Visit Website</span><span class="icon"><i class="fa fa-angle-right"></i></span></a>
                  </figcaption>
                  <div class="overlay"></div>
                </figure>
              </div>
            </a> -->
            <a href="https://sneakers.id" target="_blank">
              <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
                <figure class="image"><img class="project-thumb" src="/img/projects/sneakersid.jpg">
                  <figcaption>
                    <h1 class="title is-size-5 is-size-4-widescreen">Official website for sneakers.id shoes.</h1><a class="button is-info is-outlined is-rounded" href="https://sneakers.id" target="_blank"><span>Visit Website</span><span class="icon"><i class="fa fa-angle-right"></i></span></a>
                  </figcaption>
                  <div class="overlay"></div>
                </figure>
              </div>
            </a>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
              <figure class="image show-gallery-vm-button"><img class="project-thumb" src="/img/projects/vm_consulting/login.png" style="height: 180px;">
                <figcaption>
                  <h1 class="title is-size-5 is-size-4-widescreen">Project tracking system for vm consulting (offline)</h1><button class="button is-info is-outlined is-rounded show-gallery-vm-button" type="button"><span>Show</span><span class="icon"><i class="fa fa-angle-right"></i></span></button>
                </figcaption>
                <div class="overlay"></div>
              </figure>
            </div>
            <div class="column is-12-mobile is-half-tablet is-one-third-desktop">
              <figure class="image show-gallery-pb-button"><img class="project-thumb" src="/img/projects/prima_ban/print_preview_invoice.png" style="height: 180px;">
                <figcaption>
                  <h1 class="title is-size-5 is-size-4-widescreen">Inventory and Invoicing for Prima Ban (offline)</h1><button class="button is-info is-outlined is-rounded show-gallery-pb-button" type="button"><span>Show</span><span class="icon"><i class="fa fa-angle-right"></i></span></button>
                </figcaption>
                <div class="overlay"></div>
              </figure>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column"><a class="button is-info is-outlined is-rounded is-medium has-text-weight-normal" href="mailto:fernandeswiraharjo@gmail.com"><span class="icon"><i class="fa fa-envelope"></i></span><span>Email me to see more</span></a></div>
        </div>
      </div>
    </section>

    <div id="vmGalleryModal" class="modal">
      <span class="close">&times;</span>
      <div class="modal-content">
        <img src="/img/projects/vm_consulting/login.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/client.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/project_tracking.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/project_tracking_detail.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/project_tracking_user.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/daily_task.png" class="vm-gallery-image">
        <img src="/img/projects/vm_consulting/daily_task_detail.png" class="vm-gallery-image">
        <button id="btnPrevVm" class="prev" type="button">&lt;</button>
        <button id="btnNextVm" class="next" type="button">&gt;</button>
      </div>
    </div>

    <div id="pbGalleryModal" class="modal">
      <span class="close">&times;</span>
      <div class="modal-content">
        <img src="/img/projects/prima_ban/add_invoice.png" class="pb-gallery-image">
        <img src="/img/projects/prima_ban/print_preview_invoice.png" class="pb-gallery-image">
        <img src="/img/projects/prima_ban/print_invoice.png" class="pb-gallery-image">
        <img src="/img/projects/prima_ban/customer.png" class="pb-gallery-image">
        <button id="btnPrevPb" class="prev" type="button">&lt;</button>
        <button id="btnNextPb" class="next" type="button">&gt;</button>
      </div>
    </div>

    <section class="section is-medium is-primary has-text-centered is-long-ish">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-three-fifths">
            <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">I'm proud to have worked with some amazing companies:</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="section startups has-text-centered">
      <div class="container is-narrow">
        <div class="startup-grid">
          <div class="columns is-multiline level">
            <div class="column is-12-touch is-half-desktop is-one-third-widescreen level-item">
              <div class="box"><img class="logo mb-5" src="/img/projects/invent.png">
                <p>Solutions to digitize and manage field services.</p><a class="link" href="https://www.invent-integrasi.co.id/" target="_blank"><span class="tag is-link is-light is-medium"><i class="fa fa-globe mr-2"></i>invent-integrasi.co.id</span></a>
              </div>
            </div>
            <div class="column is-12-touch is-half-desktop is-one-third-widescreen level-item">     
              <div class="box"><img class="logo mb-5" src="/img/projects/logol.png">
                <p>One-Stop Platform for Your Logistics Activities.</p><a class="link" href="https://logol.co.id" target="_blank"><span class="tag is-link is-light is-medium"><i class="fa fa-globe mr-2"></i>logol.co.id</span></a>
              </div>
            </div>
            <div class="column is-12-touch is-half-desktop is-one-third-widescreen level-item">
              <div class="box"><img class="logo mb-5" src="/img/projects/ide.png">
                <p>Satu solusi sekolah digital buatan anak bangsa untuk anak bangsa.</p><a class="link" href="https://www.infraedukasi.com/" target="_blank"><span class="tag is-link is-light is-medium"><i class="fa fa-globe mr-2"></i>infraedukasi.com</span></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="callout">
          <div class="columns is-centered">
            <div class="column">
              <h1 class="title is-spaced has-text-weight-bold">Interested in working together?</h1>
              <h2 class="subtitle is-size-5-desktop">I’m always open to discussing product design projects or partnership opportunities.</h2><a class="button is-info is-outlined is-rounded is-medium has-text-weight-normal" href="/contact"><span class="icon"><i class="fa fa-comments"></i></span><span>Start a conversation</span></a>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- <section class="section testimonials is-medium is-white has-text-centered has-border-top">
      <div class="container is-narrow">
        <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">Testimonials</h1>
        <h2 class="subtitle is-size-5-desktop">Clients have shared some kind words...</h2>
        <div class="columns is-centered">
          <div class="column is-two-thirds">
            <div class="testimonials-slider">                     
              <input id="carousel-1" type="radio" name="carousel" checked="">
              <input id="carousel-2" type="radio" name="carousel">
              <input id="carousel-3" type="radio" name="carousel">
              <div class="carousel-slides">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="testimonial-block"><img class="avatar" src="/img/avatars/sneakers.jpg">
                      <p class="quote">“It was a real pleasure to work with Fernandes and I look forward to working with him again. He’s definitely the kind of developer you can trust with a project from start to finish.”</p>
                      <h1 class="title is-size-5">Vincensius Alvin</h1>
                      <h2 class="subtitle is-size-6">Owner of Sneakers.id</h2>
                    </div>
                  </div>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="testimonial-block"><img class="avatar" src="/img/avatars/user.png">
                      <p class="quote">Coming Soon</p>
                      <h1 class="title is-size-5">Anton Prawira</h1>
                      <h2 class="subtitle is-size-6">Owner of VM Consulting</h2>
                    </div>
                  </div>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="testimonial-block"><img class="avatar" src="/img/avatars/user.png">
                      <p class="quote">Coming Soon</p>
                      <h1 class="title is-size-5">Willy Nyoman</h1>
                      <h2 class="subtitle is-size-6">Owner of Prima Ban</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-nav">
                <label for="carousel-1"></label>
                <label for="carousel-2"></label>
                <label for="carousel-3"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="section call-to-action is-primary has-text-centered">
      <div class="container is-narrow">
        <div class="box">
          <div class="columns level">
            <div class="column level-item">
              <h1 class="title">Kickoff a Project</h1>
            </div>
            <div class="column level-item">
              <p>Interested in collaborating? Let's schedule a chat.</p>
            </div>
            <div class="column level-item"><a class="button is-warning is-outlined is-rounded is-medium has-text-weight-normal" href="/contact"><span class="icon"><i class="fa fa-check"></i></span><span>Let's get started</span></a></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="section is-primary is-small has-text-centered">
      <div class="container is-narrow"><a class="logo has-text-white" href="/"><img style="width: 50px; height: 50px;" src="/img/icons/icon_white/android-chrome-192x192.png" alt="web icon white"></a>
        <div class="columns is-centered"> 
          <div class="column is-one-third">
            <h1 class="title is-size-4-touch has-text-weight-normal">Embracing Growth &amp Progress.</h1>
          </div>
        </div>
        <div class="social-icons">
          <p class="field">
            <a class="button is-medium" href="https://instagram.com/fernandes_wiraharjo" target="_blank"><span class="icon is-small"><i class="fa fa-instagram fa-fw"></i></span></a>
            <a class="button is-medium" href="https://www.linkedin.com/in/fernandes-wiraharjo" target="_blank"><span class="icon is-small"><i class="fa fa-linkedin fa-fw"></i></span></a>
            <a class="button is-medium" href="mailto:fernandeswiraharjo@gmail.com"><span class="icon is-small"><i class="fa fa-envelope fa-fw"></i></span></a>
          </p>
        </div>
        <div class="copyright">Handcrafted by me<span class="icon has-white-text" style="vertical-align:middle;"><i class="fa fa-copyright"></i></span>2023</div>
        <!-- <div class="made-by-bulma"><a href="https://bulma.io"><img src="https://bulma.io/images/made-with-bulma--white.png" alt="Made with Bulma" width="163" height="31" crossorigin="anonymous"></a></div> -->
      </div>
    </footer>
    <script src="/js/main-min.js"></script>
  </body>
</html>
